<div class="col-xs-2 cart">
  <strong>{{product.item.title}}</strong>
</div>
<div class="col-xs-2 cart">
  <img src={{product.item.image}} class="cart-img"/>
</div>
<div class="col-xs-2 cart">
  Regular Price:<br>
  {{#if product.item.sale}}
  $<strike>{{product.item.price}}</strike>
  {{else}}
  ${{product.item.price}}
  {{/if}}
</div>
<div class="col-xs-2 cart">
  {{#if product.item.sale}}
  <br>
  {{product.item.sale}}% OFF =
  {{/if}}
</div>
<div class="col-xs-1 cart">
  x {{product.amount}}
</div>
<div class="col-xs-2 cart">
  Actual Price:<br>
  ${{actualPrice}}
</div>
<br>
<hr>
