<h3>Current Store Products</h3>

<div class="row">
  {{#if selectedProduct}}
  <div class="col-xs-8">
    <h2 class="editing-item">{{selectedProduct.title}}</h2>
    <p>
      <strong>Brand:</strong> {{selectedProduct.brand}}<br>
      <strong>Price:</strong> ${{selectedProduct.price}}<br>
      <strong>%Off:</strong> {{selectedProduct.sale}}%<br>
      <strong>Description:</strong> {{selectedProduct.description}}<br>
      <strong>Image URL:</strong> {{selectedProduct.image}}<br>
      <strong>Category:</strong> {{selectedProduct.category}}<br>
    </p>
    {{update-product update="update" delete="delete" product=selectedProduct}}
    <hr>
  </div>
  <div class="col-xs-4">
    <img src={{selectedProduct.image}} class="admin-img"/>
  </div>
  {{/if}}
</div>

<div class="row">
  <h4>Click an item below to edit or delete:</h4>
  <ul class="admin-list">
    {{#each model as |product|}}
      {{#if (eq product selectedProduct)}}
        <li {{action 'showProduct' product}} class= "editing-item">{{product.title}}</li>
      {{else}}
        <li {{action 'showProduct' product}}>{{product.title}}</li>
      {{/if}}
    {{/each}}
  </ul>
</div>
